<div class="about-me about-me-block">
  <!-- <img src="../../../../assets/image/layer.svg" class="layer" /> -->
  <div>
    <img src="../../../../assets/image/aboutSide.svg" class="about-side-img" />
  </div>
  <div
    class="about-container"
    id="about"
    style="
      background-image: url('../../../../assets/image/layer.svg');
      background-repeat: no-repeat;
      background-position: center bottom;
    "
  >
    <div class="box-container">
      <img
        src="https://i.pinimg.com/originals/d8/78/48/d878485cac8d590702c9b8cf9c0bdbf9.gif"
        class="img-2"
      />
    </div>

    <div class="about-text" style="padding-top: 2%">
      <h4>About me</h4>
      <p>
        <i class="fa fa-laptop" aria-hidden="true"></i
        ><span>Software Engineer</span>
      </p>
      <p>
        <i class="fa fa-child" aria-hidden="true"></i
        ><span>with 2.5+ years of experience</span>
      </p>
      <p>
        <i class="fa fa-briefcase" aria-hidden="true"></i
        ><span>Currently working in Kovai.co</span>
      </p>

      <p>
        <i class="fa fa-book" aria-hidden="true"></i
        ><span>Degree : B.SC Information Tecnology</span>
      </p>
      <p>
        <i class="fa fa-graduation-cap" aria-hidden="true"></i
        ><span>Studied at Sri Krishna Arts and Science College</span>
      </p>
      <p style="padding-right: 12px">
        <i class="fa fa-microphone" aria-hidden="true"></i
        ><span style="color: black"
          >Talk's about career guidance, .net core and Azure</span
        >
      </p>
      <!--<a href="asset/cv.pdf" download="moli's cv"><button class="dwnld-cv"> Download CV</button></a>
  !-->
    </div>
  </div>
</div>
