<div class="services" id="service">
  <div class="services-text">
    <h2>Services</h2>
  </div>
  <div class="container">
    <div class="mockup mockup-macbook loaded opened">
      <div class="part top">
        <img
          src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-top.svg"
          alt=""
          class="top"
        />
        <img
          src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-cover.svg"
          alt=""
          class="cover"
        />

        <video autoplay loop>
          <source
            src="https://d1xm195wioio0k.cloudfront.net/images/video/support.mp4"
            type="video/mp4"
          />
        </video>
      </div>
      <div class="part bottom">
        <img
          src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-cover.svg"
          alt=""
          class="cover"
        />
        <img
          src="https://d1xm195wioio0k.cloudfront.net/images/mockup/macbook-bottom.svg"
          alt=""
          class="bottom"
        />
      </div>
    </div>
  </div>
  <br />

  <div class="details">
    <div class="content">
      <p>
        As a <span style="font-weight: bold">.net developer</span>, I have
        gained knowledge about as a learner
      </p>
      <p>
        which gives me common experience that made me as a professional techie
        now. Learning new skills makes the developer unique.
      </p>
      <p>
        Lets learn and explore this technical world together, if you wish to
        collaborate with me, feel free to reach me out.
      </p>
    </div>
  </div>
</div>

<section #skill class="skillls">
  <div class="skills">
    <h2>SKILL's</h2>
    <h5>I'm experienced in...</h5>
    <div class="skill-img">
      <div class="image">
        <img src="../../../../assets/image/logo/angular.svg" class="tensor" />
      </div>
      <div class="image">
        <img src="../../../../assets/image/logo/dotnet.svg" class="gcp" />
      </div>
      <div class="larger">
        <img
          src="../../../../assets/image/logo/microsoft-sql-server-logo-svgrepo-com.svg"
          class="cv2"
          title="Hello from speech bubble!"
        />
      </div>
      <div class="image">
        <img src="../../../../assets/image/logo/azure.svg" class="cloud" />
      </div>
      <div class="wider">
        <img src="../../../../assets/image/icons/py-logo.png" class="png1" />
      </div>
    </div>
  </div>
</section>
